* {
    font-family: "Space Grotesk", sans-serif;
}

:root {
    --green: #B9FF66;
    --dark: #191A23;
    --gray: #F3F3F3;
}



.box-shadow{
    box-shadow: 0px 5px 0px 0px #191A23;
}



.sponsors-mobile .group-1 img , .group-2 img{
    max-width: 7.75rem;
}
.sponsors-mobile .group-1 img , .group-2 img{
    filter: grayscale(100%);
}

.sponsors-desktop img{
    filter: grayscale(100%);
}

